@import "parteuno.css";
@import "partedos.css";
@import "partetres.css";
@import "footer.css";

*{
    margin: 0;
    padding: ;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}