.conteiner2{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 130px auto;
    background-color: ;
}

.articulos2{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color:;
    margin: 10px;
}

.articulos2 img{
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid #2796ca;
}

.articulos2 p{
    color: rgba(0,0,0,0.6);
    font-size: 17px;
    padding: 10px;
    text-align: center;
}