.frase{
    background-color: #d73a8d;
    padding: 15px;
    height: 200px;
}

.frase p{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
}

.container{
    display: flex;
    justify-content:space-around;
    width: 100%;
    max-width: 1000px;
    margin: -100px auto;
    /* background-color: aquamarine; */
}

.articulos{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 300px;
    padding: 20px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.articulos img{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 5px solid #d73a8d;
    padding: 5px;
    border-radius: 50%;
}

.articulos h3{
    text-align: center;
    padding: 20px;
    color: #d73a8d;
    letter-spacing: 2px;
}

.articulos ul li{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    
}